    html,
    body {
        font-family: 'Lato', sans-serif;
        color: #222222;
    }
    
    main {
        counter-reset: checkout;
    }
    
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
    
    .input {
        padding: 0 28px;
    }
    
    .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    
    .button a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
    }
    
    .button-red {
        color: #f16d7f;
        border: 1px solid #f16d7f;
    }
    
    .button-black {
        color: #222222;
        border: 1px solid #222222;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
    
    .button-black:hover {
        border: 1px solid #f16d7f;
        color: #f16d7f;
    }
    
    .center {
        max-width: 1140px;
        margin: 0 auto;
    }
    
    header {
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
    }
    
    .header__menu {
        padding: 25px 0;
        display: flex;
        align-items: center;
    }
    
    .logo {
        display: flex;
        width: 165px;
        font-size: 27px;
        font-weight: 300;
        line-height: 32px;
        text-decoration: none;
        color: #222222;
        text-transform: uppercase;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo img {
        width: 59px;
        height: 51px;
    }
    
    .logo .red {
        font-weight: 900;
    }
    
    .red {
        color: #f16d7f;
    }
    
    .header__filter {
        margin-left: 37px;
    }
    
    .header__filter form {
        display: flex;
    }
    
    .filter__dropdown {
        width: 500px;
        height: 530px;
        border-radius: 5px;
        background-color: #ffffff;
    }
    
    .filter__select {
        width: 87px;
        height: 38px;
        border-radius: 3px 0 0 3px;
        border: 1px solid #e6e6e6;
        background-color: #cdcdcc;
        background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
    }
    
    .search__feild {
        width: 281px;
        height: 38px;
        border-radius: 0 3px 3px 0;
        border: 1px solid #e6e6e6;
        background-color: #ffffff;
    }
    
    .search__button {
        width: 38px;
        height: 38px;
        border-radius: 0 3px 3px 0;
        border: 1px solid #e6e6e6;
        background-color: #ffffff;
        border-left: none;
    }
    
    .header__cart {
        position: relative;
        margin-left: 350px;
    }
    
    .button-cart {
        background: url(../img/cart.png) 50% 50% no-repeat #ffffff;
        width: 32px;
        height: 29px;
    }
    /* .cart>a {
        display: block;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #222222
    } */
    
    .button-cart:focus~.cart__dropdown,
    .cart__dropdown:hover {
        display: flex;
    }
    
    .triangle {
        background: url(../img/triangle.png) 0 0 no-repeat;
        width: 15px;
        height: 7px;
        position: absolute;
    }
    
    .button__account {
        width: 130px;
        height: 38px;
        font-size: 15px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;
        margin-left: 26px;
    }
    
    .button__red {
        background-color: #f16d7f;
        color: #ffffff;
    }
    
    .button__red a {
        color: #ffffff;
    }
    
    .cart__dropdown {
        width: 262px;
        height: 440px;
        padding: 21px 16px;
        border: 1px solid #ececec;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        display: none;
        flex-direction: column;
        align-items: center;
        top: 45px;
    }
    
    .cart__dropdown-item {
        width: 229px;
        height: 102px;
        display: flex;
        flex-direction: row;
        padding-bottom: 16px;
        margin-bottom: 16px;
        border-bottom: 1px solid #ececec;
    }
    
    .cart__dropdown-item .red {
        font-weight: 400;
    }
    
    .header__cart-img {
        width: 72px;
        height: 85px;
        background-color: #ececec;
    }
    
    .header__cart-info {
        width: 143px;
        height: 85px;
        padding: 10px 14px;
        display: flex;
        flex-direction: column;
    }
    
    .header__cart-name {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 12px;
    }
    
    .header__cart-rating {
        width: 56px;
        line-height: 12px;
        color: #e4af48;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 1px;
        margin-top: 10px;
    }
    
    .header__cart-price {
        width: 52px;
        line-height: 12px;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 12px;
    }
    
    .cart__dropdown-total {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 27px;
    }
    
    .cart__dropdown-total h3 {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .cart__dropdown-button {
        width: 225px;
        height: 50px;
        line-height: 50px;
        margin-top: 11px;
    }
    
    nav {
        height: 51px;
    }
    
    .nav__menu {
        position: relative;
        padding: 0 230px;
        height: 100%;
        display: flex;
        justify-content: space-between
    }
    
    .nav__menu>li {
        display: flex;
        list-style: none;
        padding: 0 9px 3px 9px;
    }
    
    .nav__menu>li:hover {
        border-bottom: 3px solid #ef5b70;
        padding-bottom: 0px;
    }
    
    .nav__menu>li>a {
        text-decoration: none;
        display: flex;
        align-items: center;
        width: 100%;
        font-size: 14px;
        color: #222222;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .nav__menu>li>a:focus~.nav__dropdown,
    .nav__dropdown:hover {
        display: flex;
    }
    
    .nav__dropdown {
        display: none;
        flex-flow: column wrap;
        align-content: space-between;
        position: absolute;
        top: 43px;
        left: 230px;
        width: 846px;
        height: 310px;
        background-color: #ffffff;
        border: 1px solid #ececec;
        border-radius: 5px;
        padding: 0 21px;
    }
    
    .nav__dropdown__col {
        width: 234px;
        padding-top: 21px;
        padding-bottom: 9px;
    }
    
    .nav__dropdown__col a {
        display: block;
        text-decoration: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        color: #646464;
    }
    
    .nav__dropdown__col h3 {
        padding-bottom: 8px;
        border-bottom: 1px solid #e8e8e8;
        font-size: 14px;
        font-weight: 400;
        color: #232323;
        text-transform: uppercase;
        letter-spacing: 0.35px;
    }
    
    .nav__dropdown__col__offer {
        width: 255px;
        height: 118px;
        padding-top: 61px;
        padding-left: 174px;
        background-color: #efefef;
    }
    
    .nav__dropdown__col__offer h2 {
        color: #ffffff;
        font-size: 22px;
        font-weight: 900;
        line-height: 28px;
        text-transform: uppercase;
        letter-spacing: 0.55px;
    }
    
    .slider {
        background: url(../img/guy.png) 70% 50% no-repeat #e8e8e8;
        width: 100%;
        height: 613px;
        padding-top: 224px;
    }
    
    .slider__info {
        background: url(../img/rectangle.png) 0 0 no-repeat;
        width: 100%;
        height: 92px;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 40px;
        padding-left: 24px;
        line-height: 40px;
    }
    
    .slider__info span:first-child {
        font-weight: 900;
        font-size: 60px;
        line-height: 60px;
    }
    
    .col-left,
    .col-right {
        width: 560px;
        float: left;
    }
    
    .actions {
        display: flex;
        justify-content: space-between;
        padding-top: 98px;
    }
    
    .action {
        padding-top: 26px;
        margin-bottom: 21px;
    }
    
    .small {
        height: 261px;
    }
    
    .large {
        height: 542px;
    }
    
    .info {
        float: left;
        height: 82px;
        background-color: #ffffff;
        text-transform: uppercase;
        padding: 16px 19px;
        font-size: 18px;
        font-weight: 900;
    }
    
    .info>.red {
        font-size: 30px;
    }
    
    #for_men {
        background: url(../img/for_men.png) 50% 50% no-repeat #dadad2;
        ;
    }
    
    #for_women {
        background: url(../img/for_women.png) 50% 50% no-repeat #dadad2;
        ;
    }
    
    #for_kids {
        background: url(../img/for_kids.png) 50% 50% no-repeat #dadad2;
        ;
    }
    
    #accesories {
        background: url(../img/accesories.png) 120% 50% no-repeat #dadad2;
        ;
    }
    
    .title {
        margin-top: 85px;
        text-align: center;
    }
    
    .title h1 {
        height: 23px;
        font-size: 30px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 16px;
    }
    
    .title p {
        height: 12px;
        color: #9f9f9f;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
    }
    
    .items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .item {
        position: relative;
        flex: none;
        margin-top: 60px;
        width: 263px;
        height: 364px;
        background-color: #ffffff;
    }
    
    .item__img {
        width: 261px;
        height: 279px;
    }
    
    .item__info {
        padding: 19px 16px;
    }
    
    .item__title {
        line-height: 13px;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .item__price {
        padding-top: 16px;
        line-height: 16px;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    .button__item {
        width: 212px;
        height: 48px;
        margin: 0 auto;
        text-align: center;
        margin-top: 58px;
    }
    
    .button__item a {
        color: #ffffff;
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        line-height: 48px;
    }
    
    .item__overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 263px;
        height: 281px;
        background-color: rgba(58, 56, 56, 0.8);
        padding: 98px 70px;
    }
    
    .item:hover {
        box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
    }
    
    .item:hover .item__overlay {
        display: flex;
    }
    
    .item__overlay img {
        width: 23px;
        height: 22px;
    }
    
    .item__overlay__button {
        display: flex;
        width: 123px;
        height: 39px;
        padding: 0 13px;
        border: 1px solid #ffffff;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: #ffffff;
        font-size: 13px;
    }
    
    .offer {
        margin-top: 113px;
        margin-bottom: 113px;
        height: 529px;
        background: url(../img/layout.png) 0 0 no-repeat, url(../img/offer_img.png) 0 0 no-repeat #222224;
        overflow: hidden;
    }
    
    .offer__title {
        float: left;
        margin-left: 40px;
        width: 293px;
        height: 78px;
        margin-top: 146px;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 54px;
        line-height: 40px;
        font-weight: 700;
    }
    
    .offer__title>.small {
        font-size: 32px;
        font-weight: 700;
        line-height: 30px;
    }
    
    .offer__title>.red {
        font-weight: 700;
    }
    
    .offer__promo {
        float: right;
        width: 374px;
        height: 529px;
        padding: 48px 40px;
    }
    
    .offer__entry {
        height: 104px;
        margin-bottom: 52px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        color: #fbfbfb;
    }
    
    .offer__entry-title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 17px;
    }
    
    .offer__entry-text {
        width: 219px;
        height: 58px;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
    }
    
    .subscribe {
        padding-top: 111px;
        background: url(../img/subs_layout.png) 0 0, url(../img/subs.png) 0 0 no-repeat;
        height: 438px;
    }
    
    .comments {
        float: left;
    }
    
    .comment {
        width: 497px;
        position: relative;
        padding-left: 111px;
        padding-top: 12px;
        display: none;
    }
    
    .comment__avatar {
        width: 83px;
        height: 83px;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    #user1 {
        background: url(../img/avatar.png) 50% 50% no-repeat;
    }
    
    .comment__info-text {
        width: 390px;
        color: #222224;
        font-size: 16px;
        font-style: italic;
        line-height: 26px;
    }
    
    .user {
        width: 82px;
        color: #222224;
        font-size: 12px;
        font-weight: 300;
        line-height: 14px;
        margin-left: 2px;
    }
    
    .user>.red {
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
    }
    
    .counter {
        width: 147px;
        list-style: none;
        display: flex;
        flex-direction: row;
    }
    
    .comments__counter {
        margin-left: 114px;
        padding-top: 41px;
        justify-content: space-between;
    }
    
    .comments__counter li {
        width: 38px;
        height: 4px;
        background-color: #d6d6d6;
    }
    
    .comments__counter li.is-active {
        background-color: #f16d7f;
    }
    
    .is-active {
        display: block;
    }
    
    .subscribe__form {
        width: 386px;
        float: left;
        text-align: center;
        margin-top: 37px;
        margin-left: 165px;
    }
    
    #subs__mail {
        width: 282px;
        height: 46px;
        background-color: #e1e1e1;
        padding: 0 28px;
        border-radius: 23px 0 0 23px;
        border: none;
        float: left;
    }
    
    .subscribe__form .button {
        width: 104px;
        height: 46px;
        border-radius: 0 23px 23px 0;
        border: none;
        float: left;
    }
    
    .subscribe__form-title {
        color: #222224;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 32px;
    }
    
    .subscribe__form-title>h3 {
        font-size: 24px;
        line-height: 30px;
    }
    
    .subscribe__form-title>h4 {
        font-size: 14px;
        line-height: 20px;
    }
    
     ::-webkit-input-placeholder {
        color: #222224;
        font-size: 14px;
        font-weight: 400;
        line-height: 54px;
        opacity: 0.67;
    }
    
     ::-moz-placeholder {
        color: #222224;
        font-size: 14px;
        font-weight: 400;
        line-height: 54px;
        opacity: 0.67;
    }
    
     :-moz-placeholder {
        color: #222224;
        font-size: 14px;
        font-weight: 400;
        line-height: 54px;
        opacity: 0.67;
    }
    
     :-ms-input-placeholder {
        color: #222224;
        font-size: 14px;
        font-weight: 400;
        line-height: 54px;
        opacity: 0.67;
    }
    
    .prefooter {
        padding-top: 109px;
        padding-bottom: 89px;
        padding-right: 44px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .prefooter__about {
        width: 427px;
    }
    
    .prefooter__about-text {
        color: #898989;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
    }
    
    .prefooter__about-text p {
        margin-top: 29px;
        margin-bottom: 7px;
    }
    
    .prefooter__col {
        color: #898989;
        padding-top: 14px;
        padding-bottom: 8px;
    }
    
    .prefooter__col h3 {
        font-size: 18px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
    }
    
    .prefooter ul {
        margin-top: 40px;
    }
    
    .prefooter__col a {
        text-decoration: none;
        color: #898989;
        width: 100%;
        height: 100%;
        line-height: 42px;
        display: block;
    }
    
    footer {
        background-color: #e6e6e6;
        padding: 24px 0;
    }
    
    .footer__copyright {
        float: left;
    }
    
    .footer__copyright p {
        color: #7a7a7a;
        font-size: 16px;
        font-weight: 400;
        line-height: 42px;
    }
    
    .footer__networks {
        float: right;
    }
    
    .footer__networks ul {
        display: flex;
        flex-direction: row;
    }
    
    .footer__networks li {
        width: 32px;
        height: 32px;
        background-color: #ffffff;
        margin-left: 8px;
    }
    
    .footer__networks a {
        display: flex;
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: #b2b2b2;
        justify-content: center;
        align-items: center;
    }
    
    .footer__networks a:hover {
        background-color: #f16d7f;
        color: #f7f7f8;
    }
    
    .arrivals {
        padding: 65px 0;
        background-color: #f8f3f4;
    }
    
    .arrivals__content {
        display: flex;
        justify-content: space-between;
    }
    
    .arrivals__title {
        font-size: 24px;
        font-weight: 900;
        line-height: 20px;
        text-transform: uppercase;
    }
    
    .breadcrumbs ul {
        display: flex;
        flex-direction: row;
    }
    
    .breadcrumbs li:after {
        content: "\00a0/\00a0";
        color: #636363;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
    }
    
    .breadcrumbs a {
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        color: #636363;
        font-weight: 300;
    }
    
    .breadcrumbs .active a {
        font-weight: 700;
        color: #f16d7f;
    }
    
    .breadcrumbs .active:after {
        content: "";
    }
    
    .single__item__img {
        display: flex;
        justify-content: center;
        padding-bottom: 29px;
        background-color: #f7f7f7;
    }
    
    .single__item__info {
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 122px;
        padding-top: 73px;
        position: relative;
        top: -83px;
        border: 1px solid #eaeaea;
        background: #ffffff
    }
    
    .collection {
        display: block;
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        text-transform: uppercase;
        text-align: center;
    }
    
    .single__item__info__counter {
        display: flex;
        align-items: center;
        padding-top: 14px;
        justify-content: center;
    }
    
    .single__item__info__counter li {
        width: 42px;
        height: 1px;
        background-color: #d6d6d6;
    }
    
    .single__item__info__counter .is-active {
        width: 63px;
        height: 3px;
        background-color: #f16d7f;
    }
    
    .single__item__info__name {
        display: flex;
        padding-top: 17px;
        color: #4d4d4d;
        font-size: 18px;
        font-weight: 900;
        line-height: 18px;
        text-transform: uppercase;
    }
    
    .single__item__info__text {
        display: block;
        padding-top: 67px;
        width: 618px;
        color: #5e5e5e;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        text-align: center;
    }
    
    .single__item__info__add-info {
        display: flex;
        flex-direction: row;
        width: 618px;
        padding: 28px 142px;
        justify-content: space-between;
    }
    
    .add-info {
        color: #b9b9b9;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
    }
    
    .add-info span {
        color: #2f2f2f;
        font-weight: inherit;
    }
    
    .info__price {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
    }
    
    .item__info__options {
        width: 538px;
        padding-top: 107px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .hidden {
        display: none;
        visibility: hidden;
        padding-right: 10px;
    }
    
    .option__title {
        color: #2f2f2f;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    
    .option__dropdown {
        cursor: pointer;
        display: flex;
        position: relative;
        font-size: 16px;
    }
    
    .styledSelect {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 144px;
        height: 35px;
        background-color: #ffffff;
        font-size: 13px;
        color: #bcbcbc;
        font-weight: 400;
        line-height: 24px;
        padding: 0 10px;
        border: 1px solid #eaeaea;
    }
    
    .styledSelect:after {
        position: absolute;
        right: 9px;
        content: "\f107";
        font-family: FontAwesome;
    }
    
    .styledSelect:active,
    .styledSelect.active {
        background-color: #eee;
    }
    
    .options {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: 999;
        margin: 0 0;
        padding: 0 0;
        list-style: none;
        border: 1px solid #ccc;
        background-color: white;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
    
    .options li {
        padding: 0 6px;
        margin: 0 0;
        padding: 0 10px;
    }
    
    .options li:hover {
        background-color: #39f;
        color: white;
    }
    
    .options li[rel="hide"] {
        display: none;
    }
    
    .color-picker {
        width: 12px;
        height: 12px;
        background-color: transparent;
        margin-right: 11px;
    }
    
    .option__input {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 144px;
        height: 35px;
        background-color: #ffffff;
        font-size: 13px;
        color: #bcbcbc;
        font-weight: 400;
        line-height: 24px;
        padding: 0 17px;
        border: 1px solid #eaeaea;
    }
    
    .button__add-to-cart {
        width: 537px;
        height: 55px;
        margin-top: 28px;
    }
    
    .button__add-to-cart::before {
        content: url(../img/cart-red.png);
        margin-right: 15px;
    }
    
    .add-offer__items {
        padding-bottom: 73px;
    }
    
    .add-offer .title {
        text-transform: uppercase;
    }
    
    .forms {
        padding-top: 59px;
        padding-bottom: 93px;
    }
    
    .stage {
        padding-top: 32px;
        padding-bottom: 29px;
        border-bottom: 1px solid #e8e8e8;
    }
    
    .stage__title {
        counter-increment: checkout;
        color: #222222;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: left;
    }
    
    .stage__title:before {
        content: "0"counter(checkout)".";
        padding-right: 5px;
    }
    
    .stage__form {
        display: flex;
        flex-direction: row;
    }
    
    .form__part {
        padding-left: 39px;
        margin-right: 160px
    }
    
    .form__part__title {
        padding-top: 30px;
        color: #222222;
        font-size: 13px;
        line-height: 13px;
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .disclaimer {
        padding-top: 15px;
        color: #b3b2b2;
        font-size: 13px;
        font-weight: 400;
        line-height: 13px;
    }
    
    .disclaimer i {
        margin-right: 4px;
    }
    
    .stage__form__add-info {
        padding-top: 15px;
    }
    
    .reg-form {
        padding-top: 31px;
    }
    
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    
    .label {
        color: #222222;
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .reg-form__label {
        position: relative;
        padding-left: 28px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
    }
    
    .reg-form__label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 3px;
        width: 14px;
        height: 14px;
        border: 2px solid #555555;
        border-radius: 100%;
        background: #fff;
    }
    
    .reg-form__label:after {
        content: '';
        width: 6px;
        height: 6px;
        background: #000000;
        position: absolute;
        top: 7px;
        left: 4px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    
    [type="radio"]:not(:checked)+.reg-form__label:after {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    [type="radio"]:checked+.reg-form__label:after {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    .reg-form__button {
        width: 180px;
        height: 50px;
        margin-top: 38px;
    }
    
    .auth-form {
        display: flex;
        flex-direction: column;
    }
    
    .auth-form__input {
        width: 390px;
        height: 45px;
        border: 1px solid #eaeaea;
    }
    
    .auth-form__label {
        display: inline-block;
        padding-top: 23px;
        padding-bottom: 16px;
    }
    
    .auth-form__label:after {
        content: "*";
        padding-left: 3px;
        color: #ff0d0d;
        font-size: 13px;
        font-weight: 400;
        line-height: 13px;
    }
    
    .warning {
        color: #ff0d0d;
        padding-right: 5px;
        padding-top: 22px;
        font-size: 13px;
        font-weight: 400;
        line-height: 13px;
    }
    
    .warning:before {
        content: "*";
        padding-right: 5px;
        color: #ff0d0d;
        font-size: 13px;
        font-weight: 400;
        line-height: 13px;
    }
    
    .auth-form__button {
        float: left;
        width: 180px;
        height: 50px;
        margin-top: 32px;
    }
    
    .pass-recover {
        display: block;
        float: left;
        margin-top: 56px;
        margin-left: 32px;
        color: #222222;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-decoration: none;
    }
    
    .pass-recover:hover {
        color: #f16d7f;
    }
    
    .cart {
        display: table;
        border-collapse: collapse;
        margin-top: 90px;
    }
    
    .cart__title {
        display: table-row;
        list-style: none;
    }
    
    .cart__title li {
        display: table-cell;
        padding-bottom: 20px;
        color: #222222;
        font-size: 13px;
        font-weight: 700;
        line-height: 13px;
        text-transform: uppercase;
        text-align: center;
    }
    
    .cart__title>li:first-child {
        text-align: left;
    }
    
    .cart__title>li:last-child {
        text-align: right;
    }
    
    .cart__item {
        display: table-row;
        border-bottom: 1px solid #eaeaea;
        border-top: 1px solid #eaeaea;
    }
    
    .cart__item>* {
        display: table-cell;
        padding: 22px 52px;
        vertical-align: middle;
    }
    
    .cart__item-details {
        padding-right: 235px;
        padding-left: 0;
    }
    
    .item__details-img {
        width: 100px;
        height: 115px;
    }
    
    .item__details-info {
        display: inline-block;
        vertical-align: top;
        padding-top: 13px;
    }
    
    .cart__item__title {
        margin-bottom: 38px;
    }
    
    .info__details {
        color: #6f6e6e;
        font-size: 13px;
        font-weight: 300;
        line-height: 20px;
    }
    
    .cart__item-sum {
        color: #656565;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
    }
    
    .cart__item-quantity input {
        width: 54px;
        height: 30px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        text-align: center;
        color: #656565;
        font-size: 13px;
        font-weight: 400;
        padding-left: 10px;
    }
    
    .cart__item-shipping {
        color: #656565;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
    }
    
    .cart__item-action {
        width: 15px;
        height: 15px;
        color: #c0c0c0;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        padding-right: 19px;
    }
    
    .cart__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 44px;
    }
    
    .cart__buttons>.button {
        width: 235px;
        height: 50px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
    }
    
    .cart__forms {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 67px;
        padding-bottom: 79px;
    }
    
    .address__form {
        display: flex;
        flex-direction: column;
    }
    
    .cart__form-title {
        color: #222222;
        font-size: 16px;
        font-weight: 700;
        line-height: 16px;
        text-transform: uppercase;
    }
    
    .cart__form-input {
        width: 355px;
        height: 45px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        color: #b1b1b1;
        font-size: 13px;
        font-weight: 300;
        padding: 0 13px;
        margin-top: 20px;
    }
    
    .address__form-button {
        width: 100px;
        height: 35px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
        margin-top: 23px;
    }
    
    .discount__disclaimer {
        padding-top: 28px;
        color: #000000;
        font-size: 14px;
        font-weight: 300;
        line-height: 14px;
    }
    
    .discount__form-button {
        margin-top: 25px;
        width: 118px;
        height: 35px;
        border: 1px solid #eaeaea;
        background-color: #ffffff;
    }